<div class="quatre">

	<%if @item.picture.attached?%>
		<%= image_tag @item.picture, alt: 'avatar' %>
	<% else %>
		<img src="<%= @item.image_url %>">
	<%end%>

  <p><h2><%= @item.title%></h2></p>
  <p><h3><%= @item.description%></h3></p>
<%= button_to "Ajouter au panier", bills_path, action: "create" ,method: :post,remote: true, params: {item_id: @item.id}, class:"ca btn btn-success" %>
</div>

