<!DOCTYPE html>
<html>
<head>
	<title>cart</title>
</head>
<body>

	<div id="pageCart">
			<div id="cart">
				<p id="row1">
					<%= @user %>
				</p>
					<% total = 0 %>
				<% @cart.items.each do |item| %>
					<p class="each" id="item<%= item.id %>"><img class="icon"src="<%= item.image_url%>">
						<%= item.title %>
						<span><%= item.price %>€</span>
						<%= button_to "Supprimer l'article", bill_path(item.id), :method =>:delete, id: "button#{item.id}", remote: true %>
					</p>
						<% total = total + item.price %>
				<% end %>
						<div id="total">
							<p id="total-price">total : <%= total %>€</p>	
						</div>

					


					<% if total >= 1 %>
					<%= button_to "Passer commande (NEXT GEN)", checkout_create_path(total: total), remote: true  %>
					<% end %>
			</div>
	</div>

</body>
</html>