<!DOCTYPE html>
<html>
<head>
	<title>test</title>
</head>
<body>


<h1 id="titre">Gatinos, la référence des photos de chats !</h1>
<div id="pageIndex">



	<% @item.each do |item| %>
		<div class="carte">

			<%if item.picture.attached?%>
				<%= image_tag item.picture, alt: 'avatar', class:"images" %>
			<% else %>
				<img class="images" src="<%= item.image_url %>">
			<%end%>

			<a href="#"><h3><%= item.title %></h3></a>

			<p class="text"><%= item.description %></p>
			<button type="button" class="btn btn-warning"><%= link_to "Voir détail", item_path(item.id), class:"ca" %></button> 
      <%= button_to "Ajouter au panier", bills_path, action: "create" ,method: :post, params: {item_id: item.id}, remote: true, class:"ca btn btn-success" %>

    </div>
	<%end%>
</div>	
	
</body>
</html>