<!DOCTYPE html>
<html>
  <head>
    <title>BoutiqueGatinos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="bootstrap.min.css">
      <link rel="shortcut icon" type="image/x-icon" href="chain.ico" />
      <script src="https://js.stripe.com/v3/"></script>
  </head>

  <header>
    <div id="nav">
      <%= link_to "ACCUEIL", root_path, class:"links" %>
      <%= link_to "PHOTOS", root_path, class:"links" %>
      <h1><%= link_to "GATINOS", root_path, class:"links" %></h1>
      <% if user_signed_in? %>

    

        <% if current_user.cart.items.count > 0 %>
          <%= link_to "PANIER (#{current_user.cart.items.count})", cart_path(current_user.cart.id),id:"panier_nav", class:"links" %>
        <% else %>  
          <%= link_to "PANIER", cart_path(current_user.cart.id),id:"panier_nav", class:"links" %>
        <% end %>
       <%= link_to "DECONNEXION", destroy_user_session_path, id:"delog", "data-method": :delete, class:"links" %>

      <% else %>
        <%= link_to "CONNEXION", "/users/sign_in", class:"links" %>
        <%= link_to "INSCRIPTION", "/users/sign_up", class:"links" %>
      <% end %>

    </div>
  </header>

  <body>
    <%= yield %>

  </body>
</html>
